.main-btns-section
  bottom: 0 !important
  position: absolute
  border-top: 1px solid rgb(101, 189, 133)

.main-btns
  width: 30% !important
  text-align: center
  height: 50px !important
  cursor: pointer
  padding-top: 30px

  a
    padding: 2em
    color: #fff
    cursor: pointer

#scan
  background: #78ca97