.main-btns-section
  top: 70vh
  height 10vh
  position: fixed
  border-top: 1px solid rgb(101, 189, 133)
  display: -moz-box;
  display: -webkit-box;
  display: box;
  background: rgb(109, 195, 140)

.main-btns
  width: 30% !important
  text-align: center
  height: 50px !important
  cursor: pointer
  padding-top: 30px

  a
    padding: 2em
    color: #fff
    cursor: pointer

#scan
  background: #78ca97

.chev-up
  box-flex: 1
  -webkit-box-flex: 1
  -moz-box-flex: 1
  position: relative

#dropdown-chev
  bottom: 100%
  right: 10%

.list-group-item
  width: 100% !important
  padding: 5px
  box-sizing: border-box
  height: auto !important
  border-bottom: 1px solid #ccc

  a
    float: left
    color: rgb(60, 60, 60)
    box-sizing: border-box
    width: 100%